@model ProjectManagement.Areas.Dashboard.Components.ProjectPulse.ProjectPulseVm
@using ProjectManagement.Areas.Dashboard.Components.ProjectPulse
@{
    var serializerOptions = new System.Text.Json.JsonSerializerOptions(System.Text.Json.JsonSerializerDefaults.Web);
}

<section class="ppulse" data-ppulse>
  @* SECTION: Header chips *@
  <header class="ppulse__head">
    <h2 class="ppulse__title">Project pulse</h2>
    <ul class="ppulse__chips">
      <li>
        <span class="ppulse-chip__label">Total</span>
        <span class="ppulse-chip__val">@Model.Total</span>
      </li>
      <li>
        <span class="ppulse-chip__label">Completed</span>
        <span class="ppulse-chip__val">@Model.Completed</span>
      </li>
      <li>
        <span class="ppulse-chip__label">Ongoing</span>
        <span class="ppulse-chip__val">@Model.Ongoing</span>
      </li>
    </ul>
  </header>
  @* END SECTION *@

  @* SECTION: Card grid *@
  <div class="ppulse__grid">
    @* All projects *@
    <article class="ppcard" data-pp-all
             data-weekly='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.All.WeeklyBuckets ?? Array.Empty<StatusBucket>(), serializerOptions))'
             data-link="@Model.All.RepositoryUrl">
      <div class="ppcard__meta">
        <h3 class="ppcard__title">All projects</h3>
        <div class="ppcard__count">@Model.Total</div>
      </div>
      <div class="ppcard__chart">
        <canvas width="240" height="56" data-chart="stackedbar"></canvas>
      </div>
      <a class="ppcard__cta" href="@Model.All.RepositoryUrl" aria-label="Explore repository">
        Explore repository <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </a>
    </article>

    @* Completed *@
    <article class="ppcard" data-pp-done
             data-series='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Done.WeeklyCompletions ?? Array.Empty<int>(), serializerOptions))'
             data-link="@Model.Done.Link">
      <div class="ppcard__meta">
        <h3 class="ppcard__title">Completed</h3>
        <div class="ppcard__count">@Model.Completed</div>
      </div>
      <div class="ppcard__chart">
        <canvas width="240" height="56" data-chart="sparkline"></canvas>
      </div>
      <a class="ppcard__cta" href="@Model.Done.Link">
        View completed <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </a>
    </article>

    @* Ongoing *@
    <article class="ppcard" data-pp-doing
             data-series='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Doing.WeeklyActive ?? Array.Empty<int>(), serializerOptions))'
             data-link="@Model.Doing.Link">
      <div class="ppcard__meta">
        <h3 class="ppcard__title">Ongoing</h3>
        <div class="ppcard__count">
          @Model.Ongoing
          @if (Model.Doing.Overdue > 0)
          {
            <span class="ppbadge--danger">@Model.Doing.Overdue overdue</span>
          }
        </div>
      </div>
      <div class="ppcard__chart">
        <canvas width="240" height="56" data-chart="sparkline"></canvas>
      </div>
      <a class="ppcard__cta" href="@Model.Doing.Link">
        View ongoing <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </a>
    </article>

    @* Analytics *@
    <article class="ppcard ppcard--promo" data-pp-analytics data-link="@Model.Analytics.CtaUrl">
      <div class="pppromo">
        <div class="pppromo__title">Deep dive</div>
        <div class="pppromo__copy">Trends, drill-downs, and downloads.</div>
        <a class="btn btn-primary btn-sm" href="@Model.Analytics.CtaUrl">
          Open analytics
        </a>
      </div>
    </article>
  </div>
  @* END SECTION *@
</section>
